.hero-container {
  display: flex;
  justify-content: center;
  height: 100vh;

  /* Gradient black theme */
  background: whitesmoke;
  color: black;
  text-align: center;
}

.hero-content {
  max-width: 600px;
  padding: 2rem;
}

h1 {
  font-size: 2.5rem;
  margin-bottom: 4rem;
  letter-spacing: 1px;
}

p {
  font-size: 1.1rem;

  margin: 5rem;
}

.button-container {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 1rem;

  .divider {
    color: black;
    font-size: 1rem;
  }
}
